RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL=Ye Htet Aung <noreply@yehtet.com>
RESEND_TO_EMAIL=info@yehtet.com

CONTACT_FROM_EMAIL=info@yehtet.com
CONTACT_TO_EMAIL=info@yehtet.com
BOOKING_TO_EMAIL=info@yehtet.com
MEDIA_PLAN_TO_EMAIL=info@yehtet.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@yehtet.com
SMTP_PASS=your-app-password
